.App {
  scroll-behavior: smooth;
  text-align: center;
}

.section {
  align-items: center;
  background-color: #D9D9D9;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.section-2 {
  background-color: #FFCFCF;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.section-3 {
  top: 0;
  position: absolute;
}

.animation-section {
  position: relative;
}

.planet-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%
}

.planet {
  border-radius: 50%;
  width: 100%;
}
